--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
streamlit==1.35.0
numpy<2.0.0
pandas
opencv-python-headless==4.9.0.80
Pillow
rembg
onnxruntime
